:root {
    // COLOURS
    --colour-black: #000000;
    --colour-white: #ffffff;
    --colour-silver: #e5e5e5;
    --colour-yellow: #DAFF2C;

    // FONT-SIZE
    --fs-small: 1.125rem;
    --fs-medium: 1.25rem;
    --fs-large: 1.5rem;

    // --animate-delay: 0.5s;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-margin-top: 1rem;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--colour-silver);
    background-color: var(--colour-black);
}

img {
    max-width: 100%;
}

@mixin Hover() {
    transition: 300ms ease-in;

    &:hover {
        color: var(--colour-yellow);

        transition: 300ms ease-out;
    }
}

@mixin NavLink($multiplier) {
    color: var(--colour-white);
    text-decoration: none;

    font-size: calc(var(--fs-large) * $multiplier);

    @include Hover();
}

.title {
    font-family: "Roboto", sans-serif;

    &--small {
        font-size: 1.25rem;
        font-weight: 400;
    }

    &--medium {
        font-size: 1.75rem;
        letter-spacing: 2px;

        font-weight: 500;
    }

    &--large {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 3rem;
    }

    & span {
        color: var(--colour-yellow);
        display: block;
    }

    @media(min-width: 768px) {
        &--small {
            font-size: 1.25rem;
        }

        &--medium {
            font-size: 1.5rem;
        }

        &--large {
            font-size: 4rem;
        }
    }
}

.content {
    @media (min-width:768px) {
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
            "header aside"
            "header main";
    }

    @media (min-width:1400px) {
        grid-template-columns: 0.4fr 0.2fr 0.4fr;
        grid-template-areas:
            "header aside main";
    }
}

.header {
    grid-area: header;

    background-image: url("../images/texture.png");
    background-attachment: fixed;
    border-bottom: 2px solid var(--colour-silver);

    z-index: 10;

    &__container {
        padding: 3rem;
    }

    & .nav {
        position: relative;

        &__link {
            display: block;
            width: fit-content;

            & span {
                display: block;
                height: 2px;
                background-color: var(--colour-yellow);
            }

            & a {
                @include NavLink(1.5);
            }

            &:not(:last-child) {
                padding-bottom: 0.5rem;
            }
        }

        &__links--social-media {
            text-align: right;
        }

        &__link--social-media {
            display: inline-block;

            & a {
                @include NavLink(3);
            }
        }
    }

    @media (min-width:768px) {
        border: none;
        border-right: 2px solid var(--colour-silver);
        min-height: 100lvh;

        &__container {
            position: fixed;
            top: 50%;
            left: 0;
            width: 40%;

            padding: 1.5rem;
            transform: translateY(-50%);
        }
    }

    @media (min-width:1400px) {
        &__container {
            padding: 5rem;
        }
    }
}

.aside {
    grid-area: aside;

    position: relative;

    background-color: #1b1b1b;
    border-bottom: 2px solid var(--colour-silver);
    padding-bottom: 2rem;

    & .details {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2rem 0;

        & .title {
            text-align: center;
        }

        & img {
            margin-bottom: 1rem;
        }
    }

    & .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;

        &>.title {
            text-align: center;
            color: var(--colour-black);
            padding: 1rem 0;
            background-color: var(--colour-white);
            margin-bottom: 1rem;
            width: 100%;
        }

        &__text {
            font-size: var(--fs-small);

            & i {
                margin-right: 10px;
            }
        }
    }

    @media (min-width:768px) {
        &__container {
            position: sticky;
            top: 0;
        }
    }

    @media (min-width:1400px) {
        border: none;
        border-right: 2px solid var(--colour-silver);
    }
}

.main {
    grid-area: main;

    padding: 2rem;

    min-height: 150lvh;
}

.about-me {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
        "aside"
        "content ";

    &__aside,
    &__content {
        padding: 1rem;
    }

    &__aside {
        grid-area: aside;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: rgb(18, 18, 18);
        border-right: 2px solid var(--colour-silver);

        z-index: 100;

        & img {
            margin-bottom: 2rem;
        }
    }

    &__content {
        grid-area: content;
    }

    @media (min-width:1200px) {
        grid-template-columns: 0.3fr 0.7fr;
        grid-template-areas:
            "aside content";

        &__aside {
            min-height: 100lvh;
        }
    }
}