:root {
    // COLOURS
    --colour--black: #000000;
    --colour--white: #ffffff;
    --colour-silver: #e5e5e5;
    --colour-orange: #fca311;

    // FONTS
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--colour-silver);
    background-color: var(--colour--black);
}

iframe {
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 100%;

    padding: 2px;
    border: 2px solid var(--colour-orange);
    border-radius: 50px 0 50px 0;
}

img {
    max-width: 100%;
}

p {
    font-size: 1.25rem;
    line-height: 1.4;
}

.title {
    &--large {
        font-size: 5rem;
    }
}

.header {
    position: sticky;
    top: 0;

    background-color: var(--colour--black);
}

.nav {
    display: flex;
    justify-content: center;

    padding: 2em 0;

    border-bottom: 1px solid var(--colour-orange);
    &__links {
        font-size: 1.25rem;
        text-decoration: none;
        color: var(--colour-silver);
        transition: 300ms ease-out;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &:hover,
        &:focus {
            color: var(--colour--white);
            transition: 300ms ease-in;
        }
    }
}

.hero,
.about-me,
.portfolio,
.contact-info {
    min-height: 80lvh;

    & h1,
    h2 {
        text-align: center;
        padding-bottom: 0.5em;
    }
}

.hero {
    & p {
        margin-top: 3rem;

        font-size: 1.25;
        text-align: center;
        text-transform: uppercase;
    }
}

.about-me {
    text-align: center;

    @media (min-width: 900px) {
        max-width: 50%;
        margin-inline: auto;
    }
}

.contact-info {
    &__container {
        padding: 3rem 0;

        text-align: center;
    }

    &__details {
        padding: 2rem 0;
        font-size: 1.5rem;

        align-self: center;

        & a {
            color: white;
            text-decoration: none;
            transition: color 0.2s ease-out;

            &:hover {
                color: rgb(207, 207, 207);

                transition: color 0.2s ease-in;
            }
        }
    }

    & iframe {
        width: 80%;
        margin-inline: auto;
    }

    @media (min-width: 900px) {
        &__container {
            max-width: 1200px;
            margin-inline: auto;

            display: grid;
            grid-gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
        }

        & iframe {
            width: 100%;
            margin-inline: auto;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;

    padding: 2rem 0;

    border-top: 1px solid var(--colour-orange);

    &__container {
        width: 1400px;
    }
}

.main {
    margin-inline: 3rem;
}

.portfolio {
    &__preview {
        max-height: 60lvh;
        overflow: scroll;
        overflow-x: hidden;

        & h3 {
            margin-bottom: 1rem;
        }
    }

    &__wrapper {
        margin-bottom: 3rem;
        & h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        & a {
            color: white;
        }
    }

    @media (min-width: 900px) {
        &__container {
            display: grid;
            grid-gap: 3rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
